* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header {
  background: #E1FF8F;
  background-image: url(img/Star\ 2.svg), url(img/Star\ 3.svg), url(img/Star\ 4.svg), url(img/Star\ 5.svg), url(img/starbig.svg);
  background-position: 63px 94px, 156px 69px, 1013px 568px, 948px 538px, 854px -333px;
  background-repeat: no-repeat;
}

.header__title{
  color: #202027;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 769px;
  max-height: 358px;
  padding-top: 196px;
}

.header__text {
  color: #202027;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  max-width: 720px;
}

.header__highlight {
  color: #202027;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

html {
  scroll-behavior: smooth;
}

.header__button {
  width: 247px;
  height: 66px;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  display: inline-block;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 156px;
  padding: 16px 28px 16px 28px;
  font-family: Montserrat;
  transition: all 0.5s; 
  cursor: url("img/cursor.png"), pointer;
    
   &:hover {
    background: rgb(255, 255, 255);
    color: black;
    } 
}

.animated-strip {
  display: flex;
  align-items: center;
  gap: 51px;
  height: 90px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  padding: 27px 0;
  overflow: hidden;

  &__item {
    display: flex;
    gap: 51px;
    flex-shrink: 0;
  }
  &__text {
    color: rgb(32, 32, 39);
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
  }
  &__mobile {
    display: none;
  }
}

.games {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background: #202027;
  height: 100%;
  background-image: url(img/Star\ 11.svg), url(img/Star\ 12.svg), url(img/Star\ 1.svg);
  background-position: 25px 770px, 40px 822px, 933px 77px;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.games__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 94px;   
}

.games__description {
  margin: 0;
            width: 700px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  padding-bottom: 72px;
}

.games__list {
  max-height: 1060px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
  align-items: start;
}

.game-card {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  background-color: #FFFFFF ;
  border-radius: 30px;
  transition: all 1s;
  cursor: url("img/cursor.png"), pointer;

  &:hover {
  transform: scale(1.1);
  }
}

.game-card__image{
  border-radius: 30px;
  height: 314px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game-card_top {
  margin-top: -40px;
}

.game-card__image_1 {
  background: url(img/card1.svg);
}
.game-card__image_2 {
  background: url(img/card2.svg);
}
.game-card__image_3{
  background: url(img/card3.svg);
}
.game-card__image_4{
  background: url(img/cart4.png);
}
.game-card__image_5{
  background: url(img/card5.svg); 
}
.game-card__image_6{
  background: url(img/card6.svg);
}

.game-card__number {
  width: 111px;
  height: 36px;
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  margin-left: 32px;
  margin-bottom: 10px;
}

.game-card__text {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  padding: 0 36px 32px;
  max-width: 372px;
}

.game-box {
  background: #202027;
  background-image: url(img/Star\ 6.svg), url(img/Star\ 7.svg), url(img/Star\ 8.svg), url(img/Star\ 10.svg);
  background-repeat: no-repeat;
  background-position: 1320px 126px, 1277px 93px, 1319px 3366px, 1249px 3414px;
  padding-bottom: 144px;

  &__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 46px;
  padding-bottom: 76px;
  }
  &__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  }
  &__cart {
  display: flex;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  }
  &__cart_reverse {
  display: flex;
  flex-direction: row-reverse;
  }
  &__description {
    padding: 48px;
  }
  &__product {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  padding-bottom: 24px;
  }
  &__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 32px;
  }
  &__button {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  text-decoration: none;
  box-sizing: border-box;
  padding: 16px 75px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  font-family: inherit;
  cursor: url("img/cursor.png"), pointer;
  transition: all 1s;
  }
  &__button:hover {
  background: #ffffff;
  color: #000000;
  border: 1px solid rgb(0, 0, 0);
  }
}

.footer {
  background: #BDED35;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
  }
}

@import 'mobile';
